# Use whitelisting and ignore everything by default.
#
*

# Don't ignore directories.
#
!*/

# Don't ignore Git-specific files.
#
!.git*
!.githooks/**

# Don't ignore files needed to
# set up the development environment.
#
!.develop/**

# Don't ignore license and documentation files.
#
!*.md

# Don't ignore default C and C++ file extensions.
#
!*.h
!*.c
!*.hpp
!*.cpp
!*.ipp
!*.tpp

# Don't ignore source generation files.
#
!*.in

# Don't ignore Clang-Format configuration.
#
!.clang-format

# Don't ignore standard build2 files.
#
!buildfile
!bootstrap.build
!export.build
!root.build
!*manifest
!*testscript
